body {
    background-color: #edeff0;
  
    margin: 0 auto;
    width: 100em;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [start] 1fr [header] 8fr [content] 1fr [end];
  }
  
body > header {
    grid-column: 1;
    grid-row: start / header;
  }
#add_to_do_form {
    grid-column: 1;
    grid-row: header / content;
}
#display_lists{
    grid-column: 1;
    grid-row: header / content;
}
body > footer{
    grid-column: 1;
    grid-row: content/end;
}