.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  display: block; /*for the img inside your div */
  margin-left: auto ;
  margin-right: auto;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border:
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size:  3em;
  margin-bottom: 2em;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;

  margin-bottom: 7px;
}
.centered_form{
  text-align: center;
  margin-bottom: 1em;
}

.profile_button{
  background-color: cornflowerblue;
  border-radius: 4px;
  font-weight: bold;
  border: none;
}
