body > header {
  background-color: #00a2e8;
  color: white;
  padding-right: 2em;
  padding-left: 2em;
}

body > header h1 a{
  color: white;
  font-size: 80%;
}

body > footer{
  background-color: #00a2e8;
  color: white;
  padding: 2em;
}
